header.navigation {
    background-color: #333;
    border-bottom: 1px solid #1a1a1a;
    min-height: 60px;
    width: 100%;
    z-index: 999;
}
header.navigation .navigation-wrapper {
    position: relative;
    z-index: 9999;
}
header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em;
}
header.navigation .logo img {
    max-height: 60px;
    padding: 0.8em 0;
}
header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;
}
header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
    color: white;
}
header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999;
}
header.navigation ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
}
header.navigation ul.navigation-menu.show {
    display: block;
}
header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
}
header.navigation ul li.nav-link a {
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    text-decoration: none;
}
header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
    color: white;
}
header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px;
}
header.navigation li.more.nav-link {
    padding-right: 0;
}
header.navigation li.more.nav-link > ul > li:first-child a {
    padding-top: 1em;
}
header.navigation li.more.nav-link a {
    margin-right: 1em;
}
header.navigation li.more.nav-link > a {
    padding-right: 0.6em;
}
header.navigation li.more {
    overflow: visible;
    padding-right: 0;
}
header.navigation li.more a {
    padding-right: 0.8em;
}
header.navigation li.more > a {
    padding-right: 1.6em;
    position: relative;
}
header.navigation li.more > a::after {
    content: "›";
    font-size: 1.2em;
    position: absolute;
    right: 0.5em;
}
header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
    display: block;
}
header.navigation ul.submenu {
    display: none;
    padding-left: 0;
}
header.navigation ul.submenu li {
    display: block;
    padding-right: 0;
}
header.navigation ul.submenu li a {
    background-color: #2b2b2b;
    display: inline-block;
    text-align: right;
    width: 100%;
}
header.navigation ul.submenu.show-menu {
    display: block;
}
header.navigation .navigation-tools {
    background: #505050;
    clear: both;
    display: block;
    height: 60px;
}
header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.85em 0.7em 0.6em;
    width: 60%;
}
header.navigation .search-bar form {
    position: relative;
}
header.navigation .search-bar form input[type=search] {
    background: #404040;
    border: 1px solid #262626;
    border-radius: 6px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9em;
    font-style: italic;
    margin: 0;
    padding: 0.5em 0.8em;
    width: 100%;
}
header.navigation .search-bar form button[type=submit] {
    background: #404040;
    border: 0;
    bottom: 0.3em;
    left: auto;
    outline: none;
    padding: 0 9px;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}
header.navigation .search-bar form button[type=submit] img {
    height: 12px;
    opacity: 0.7;
    padding: 1px;
}

@media (max-width: 1200px) {
  .content.home-page {
    padding-left: 0;
  }
}

/* #footer {
  height: 0px;
  visibility: hidden;
} */
.right-header-home-si {
  background-color: #000;
  height: 40px;
  padding: 3px 32px;
}
.right-header-home-nk {
  background-color: #257b88;
  height: 44px;
  padding: 0px 32px;
  gap: 96px;
  align-self: stretch;
}
.home-header-top.svelte-13wjxji img.svelte-13wjxji {
  width: 550px;
  margin-top: 2px;
}

#nk360-header img,
#nk360-2-header img {
  vertical-align: bottom;
  width: 300px;
  margin-top: 12px;
}
.img-credit{
 position: relative;
font-size: 16px;
font-weight: 400;
margin-top: 8px;
margin-bottom: 0;
}
.img-credit-1{
  margin-top: 64px;
}





@media (max-width: 1200px) {
  .img-credit-1{
    margin-top: 0px;
  }
  .right-header-home-si,
  .right-header-home-nk {
    display: none;
  }
  /* .sideNav {
    top: 0;
    z-index: 99999;
  } */
  a#nk360-header,
  a#nk360-header-2 {
    margin: auto;
    margin-top: 14px;
  }
  #nk360-header img,
  #nk360-header-2 img {
    vertical-align: bottom;
    width: 288px;
    height: 19px;
    margin-top: 10px;
  }
}